<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card text-white bg-info mb-3">
        <div class="card-header"><h4>Democratic Party</h4></div>
        <div class="card-body">
          <p class="card-text">Liberal principles with a focus on social welfare and progressive values</p>
        </div>
        <div class="card-footer text-right">
          <a href="https://democrats.org/" target="_blank" class="btn btn-dark" role="button">Go to Website</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-white bg-info mb-3">
        <div class="card-header"><h4>Green Party</h4></div>
        <div class="card-body">
          <p class="card-text">Focus on environmentalism, equal democracy amongst Americans, social justice, and nonviolence</p>
        </div>
        <div class="card-footer text-right">
          <a href="https://www.gp.org/" target="_blank" class="btn btn-dark" role="button">Go to Website</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-white bg-info mb-3">
        <div class="card-header"><h4>Libertarian Party</h4></div>
        <div class="card-body">
          <p class="card-text">Focuses on the reduction of government size, expenditure, and intervention on the American people</p>
        </div>
        <div class="card-footer text-right">
          <a href="https://www.lp.org/" target="_blank" class="btn btn-dark" role="button">Go to Website</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-white bg-info mb-3">
        <div class="card-header"><h4>Republican Party</h4></div>
        <div class="card-body">
          <p class="card-text">Conservative principles with a focus on fiscal conservatism and economic liberalism</p>
        </div>
        <div class="card-footer text-right">
          <a href="https://www.gop.com/" target="_blank" class="btn btn-dark" role="button">Go to Website</a>
        </div>
      </div>
    </div>
  </div>
</div>
