<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-159292069-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-159292069-1', {'page_path': location.pathname + location.hash});
</script>
<div class="container">
  <h1 class="bd-title" id="content">Polling Location Lookup</h1>
  <p class="bd-lead">Search for voting polls by state.</p>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">State</span>
    </div>
    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
           (keyup.enter)="findURLByState($event)" [ngClass]="hasRun === true && valid === false ? 'is-invalid' : ''">
  </div>
</div>


