<div class="container">
  <h1 class="bd-title" id="content">Polling Location Lookup</h1>
  <p class="bd-lead">Search for voting polls by state.</p>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">State</span>
    </div>
    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
           (keyup.enter)="findURLByState()" [ngClass]="hasRun === true && valid === false ? 'is-invalid' : ''"
           [(ngModel)]="stateName">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" (click)="findURLByState()">Button</button>
    </div>
  </div>
</div>


