<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" routerLink="/">Vote 2020 Election</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="candidates">Candidates</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="register-state-search">Register to Vote</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Voting
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="polling-state-search">Polls by State</a>
          <a class="dropdown-item"
             href="https://www.ncsl.org/research/elections-and-campaigns/2020-state-primary-election-dates.aspx"
             target="_blank">
            Dates By State</a>
          <a class="dropdown-item"
             href="https://www.latimes.com/politics/key-dates-on-2020-primary-and-presidential-election-calendar"
             target="_blank">
            Timeline
          </a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="political-parties">Political Parties</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown2" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Transportation Information
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
          <a class="dropdown-item"
             href="https://www.lyft.com/blog/posts/expanding-voting-access-in-2020"
             target="_blank">
            Lyft
          </a>
          <a class="dropdown-item"
             href="https://www.uber.com/newsroom/update-uber-drives-vote/"
             target="_blank">
            Uber
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>

