<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Hello, Future Voters!</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Candidates</h2>
      <p>Find information on who the Presidential candidates are and where they stands on the major issues</p>
      <p><a class="btn btn-secondary" routerLink="candidates" role="button">View candidates »</a></p>
    </div>
    <div class="col-md-4">
      <h2>Register to Vote</h2>
      <p>Select the state in which you reside in and register to vote!</p>
      <p><a class="btn btn-secondary" routerLink="register-state-search" role="button">Register »</a></p>
    </div>
    <div class="col-md-4">
      <h2>Voting Information</h2>
      <p>Information on how to Register to Vote in local, state, and federal elections</p>
      <p><a class="btn btn-secondary" routerLink="polling-state-search" role="button">View information »</a></p>
    </div>
    <div class="col-md-4">
      <h2>Voting Dates</h2>
      <p>Information voting dates for each state</p>
      <p><a class="btn btn-secondary" href="https://www.latimes.com/politics/key-dates-on-2020-primary-and-presidential-election-calendar"
            target="_blank" role="button">View dates »</a></p>
    </div>
    <div class="col-md-4">
      <h2>Political Parties</h2>
      <p>Access the Political Party websites for the most populous political groups in the United States</p>
      <p><a class="btn btn-secondary" routerLink="political-parties" role="button">View parties »</a></p>
    </div>
    <div class="col-md-4">
      <h2>Transportation</h2>
      <p>Read about how Uber and Lyft are helping voters get to the polls</p>
      <p><a class="btn btn-secondary" href="https://www.lyft.com/blog/posts/expanding-voting-access-in-2020"
            target="_blank" role="button">Lyft »</a></p>
      <p><a class="btn btn-secondary" href="https://www.uber.com/newsroom/update-uber-drives-vote/"
            target="_blank" role="button">Uber »</a></p>
    </div>
  </div>

</div>
